:root {
	--light-color: #f5f5f5;
	--dark-color: #212121;
}

.wrapper {
	display: grid;
	grid-template-columns:
		[full-start] 1fr [wrapper-start]
		minmax(0, 70rem) [wrapper-end] 1fr [full-end];

	/* Optional gap */
	column-gap: var(--pad, 1rem);
}

.wrapper > * {
	grid-column: wrapper;
}

.wrapper > .full-width {
	grid-column: full;
}

* {
	font-family: sans-serif;
}

body {
	background: var(--dark-color);
	color: var(--light-color);
}

button {
	color: #212121;
	padding: 1rem 0.5rem;
}

.ctr-txt {
	text-align: center;
}

.inner-container {
	margin: 0 auto;
	margin-top: 3rem;
	width: 66%;
}

.title {
	margin-bottom: 1rem;
}

#game-desc {
	margin: 0 auto;
}

.btn-container {
	display: flex;
	flex-direction: column;
	margin-top: 3rem;
}

#new-card-btn {
	display: none;
	background: lightblue;
}

#new-game-btn {
	background: none;
	outline: 2px solid var(--light-color);
	color: var(--light-color);
}
